<!-- <h1>{{title}}</h1>
<app-tbl-gldds-ap-info></app-tbl-gldds-ap-info>
<app-messages></app-messages> -->

<h1>{{title}}</h1>
<nav>
  <!-- <a routerLink="/dashboard">Dashboard</a> -->
  <a routerLink="/apinfos">Apinfos</a>
  <a routerLink="/pubcfgs">Pubcfgs</a>
  <a routerLink="/subcfgs">Subcfgs</a>
  <a routerLink="/pubinfos">Pubinfos</a>
  <a routerLink="/subinfos">Subinfos</a>
  <a routerLink="/pubts">Pubts</a>
  <a routerLink="/subts">Subts</a>
  <a routerLink="/linecfgs">Linecfgs</a>


</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>